<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="h1">Your Dead!!!!</div>
        <p>An octopus got stuck to you goggles, you fought it off and a bull shark chewed you leg off as well
        </p>
        <a href="/">Return</a>
    </div>
</body>
</html>